

.container
{
    display: flex;
    flex-direction:column;
 min-width:  fit-content;
  max-width: 200px;
    height: 100px;
 background-color: rgba(255, 255, 255, 0.288);
 box-shadow: -10px 0 10px rgba(0,0,0,0.1);
 backdrop-filter: blur(10px);
    margin: 10px;
padding: 3px;

    border-radius: 10px;
    
}
.container:hover
{
    
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
}


.dt
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    min-width: fit-content;
    text-decoration: none;
    padding: 5px;
}
#forminput{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 #homeinput
{
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: large;
    padding-left: 5px;
    padding-right: 3px;
    margin-top: 5px ;
    margin-bottom: 5px;
    min-width: 300px;
}

#homeinput :hover
{
    
    background-color: rgba(142, 214, 187, 0.288);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
}
button
{
    background-color: rgba(142, 214, 187, 0.288);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    font-size: medium;
    margin-left: 10px ;
    border: none;
    outline: none;
  height: 75%;
}

.bd
{
    
    min-height:100vh ;
    background-color: #E9f1fa;
    
  
}
#bt
{
    outline: none;
    border: none;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.288);
    
    backdrop-filter: blur(10px);
}
.data ul
{
    display: flex;
    flex-direction: row;
    height: fit-content;
    flex-wrap: wrap;
    word-break: break-all;
}
#home
{
    border: none;
    outline: none;
    width: 100px;
    height: 50px;
}
.data
{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    word-break: break-all;
}