
.container
{
    display: flex;
    flex-direction:column;
 min-width:  fit-content;
  max-width: 200px;
    height: 100px;
 background-color: rgba(255, 255, 255, 0.288);
 box-shadow: -10px 0 10px rgba(0,0,0,0.1);
 backdrop-filter: blur(10px);
    margin: 10px;

    border-radius: 10px;
    
}


.dt
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    min-width: fit-content;
    text-decoration: none;
    padding: 5px;
}
form{
    height: 50px;
    display: flex;
    
}
form input
{
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: large;
    padding-left: 5px;
    padding-right: 3px;
    margin-top: 5px ;
    margin-bottom: 5px;
    min-width: 300px;
}
form button
{
    background-color: rgba(142, 214, 187, 0.288);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    font-size: medium;
    margin-left: 5px ;
    border: none;
    outline: none;
    margin-top: 5px ;
    margin-bottom: 5px;
}

.bd
{
    
    height: 100vh;
    background-color: #E9f1fa;
    
  
}
#bt
{
    outline: none;
    border: none;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.288);
    
    backdrop-filter: blur(10px);
}
.data ul
{
    display: flex;
    flex-direction: row;
}
#home
{
    border: none;
    outline: none;
    width: 100px;
    height: 50px;
}